<div class = 'col-md-8 offset-2'>
  <h5 class = "text-center">New Link </h5>
  <%= simple_form_for @link, url: links_path do |f| %>
    <%= f.input :link_name, label: 'Link please', error: 'Link name is mandatory, please specify one'%>
    <%= f.input :description %>
    <%= f.input :all_tags  %>
    <%= f.submit "Save", class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to 'Back', links_path, class:"btn btn-sm btn-outline-secondary" %>
  <% end %>
</div>
