<div class = 'col-md-8 offset-2'>
  <h1 class = "text-center">New Link </h1>
  <%= simple_form_for @link, url: links_path do |f| %>
    <%= f.input :link_name, as: :url %>
    <%= f.input :description %>
    <%= f.input :all_tags  %>
    <%= f.submit "Next", class: 'btn btn-lg btn-primary float-right' %>
  <% end %>
</div>
