!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PerfectLinks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %header.blog-header.py-3
        .row.flex-nowrap.justify-content-between.align-items-center
          = render 'devise/menu/login_items'
    = render 'layouts/messages'
    .container
      %p
    %main.container{:role => "main"}
      = yield
